.buttonDecor {
    width: 120px;
    height: 30px;
    font-size:medium;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    background-color: rgba(128, 128, 239, 0.447);
    border-radius: 100px;
    border: 1px;
    text-align: center;
}

